/* Personal.css */
.personal-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
    color: #333;
  }

.personal-container h2 {
  color: #007bff; /* Blue color for headings */
}

.personal-container h4, .personal-container h5 {
  margin-bottom: 10px;
  color: #555;
}

/* Personal.css */
.personal-container button {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.personal-container button.edit-button {
  background-color: #007bff;
  color: #fff;
}

.personal-container button.save-button {
  background-color: #28a745;
  color: #fff;
}
