#rootContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#contentContainer {
  display: flex;
  height: 100%;
}

#contentContainer>div {
  flex: 1;
}

#contentContainer>div:nth-child(1) {
  flex: 0 0 80%;
}

#contentContainer>div:nth-child(2) {
  flex: 0 0 20%;
}